<div class="hn modal">
    {{!-- <div class="overlay" /> --}}
    <div class="modal-container tray dark">
        <div class="head">
            <div class="actions">
                <Primitive::Button @size="sm" @variant="floating" {{on "click" this.goBack}}>
                    {{if @backText @backText 'Cancel'}}
                </Primitive::Button>
                {{#unless @hideRightAction}}
                    <Primitive::Button @size="sm" @variant="floating" @disabled={{@formIsInvalid}} {{on "click" this.handlePrimaryClick}}>
                        {{if @primaryActionHeaderText @primaryActionHeaderText 'Save'}}
                    </Primitive::Button>
                {{/unless}}
            </div>
        </div>
        <div class="body {{if @lockBodyScroll 'lock-body-scroll'}}">
            {{yield}}
        </div>
        {{#unless @hideFooter}}
            <div class="footer">
                <Primitive::Button
                  @type="button"
                  @size="lg"
                  @variant="solid"
                  @semantic="accent"
                  @disabled={{@formIsInvalid}}
                  {{on 'click' this.handlePrimaryClick}}
                >
                    {{#if this.isLoading}}
                        <Primitive::Loader::Spinner />
                    {{else}}
                        {{if @primaryActionText @primaryActionText 'Save'}}
                    {{/if}}
                </Primitive::Button>
            </div>
        {{/unless}}
    </div>
</div>