<div class="hn modal">
    {{!-- <div class="overlay" /> --}}
    <div class="modal-container tray dark">
        <div class="head">
            <div class="actions">
                <button type="button" class="hn btn sm floating" {{on "click" this.goBack}}>
                    {{if @backText @backText 'Cancel'}}
                </button>
            </div>
        </div>
        <div class="body {{if @lockBodyScroll 'lock-body-scroll'}}">
            {{yield}}
        </div>
        {{#if @hideFooter}}
        {{else}}
            <div class="footer">
                <Primitive::Button
                  @type="button"
                  @size="lg"
                  @variant="solid"
                  @semantic="accent"
                  @disabled={{@formIsNotValid}}
                  {{on 'click' this.callSaveAction}}
                >
                    Save
                </Primitive::Button>
            </div>
        {{/if}}

    </div>
</div>