<div class="hn modal">
    {{!-- <div class="overlay" /> --}}
    <div class="modal-container tray dark">
        <div class="head">
            <div class="actions">
                <Primitive::Button {{on "click" this.goBack}} @size="sm" @variant="floating">                
                    {{if @backText @backText 'Cancel'}}
                </Primitive::Button>
                <Primitive::Button {{on "click" this.callSaveAction}} @size="sm" @variant="floating" @disabled={{@formIsInvalid}}>
                    Save
                </Primitive::Button>
            </div>
        </div>
        <div class="body {{if @lockBodyScroll 'lock-body-scroll'}}">
            {{yield}}
        </div>
        {{#if @hideFooter}}
        {{else}}
            <div class="footer">
                <Primitive::Button
                  @type="button"
                  @size="lg"
                  @variant="solid"
                  @semantic="accent"
                  @disabled={{@formIsInvalid}}
                  {{on 'click' this.callSaveAction}}
                >
                    Save
                </Primitive::Button>
            </div>
        {{/if}}

    </div>
</div>