<div class="settings-view dark">
    <h1 class="hn view-title">Edit Security Details</h1>

    {{#each this.securityFields as |field|}}
        <Primitive::Input
          @id={{field.id}}
          @required={{field.required}}
          @placeholder={{field.placeholder}}
          @value={{mut (get @passwords field.id)}}
          @description={{field.description}}
          @label={{field.label}}
          @type={{field.type}}
          @disabled={{field.disabled}}          
          @onInput={{@validatePasswordRequirement}}
        />
    {{/each}}

    <p class="hn label center mt-16 mb-4">Password Requirements</p>
    <ul>
        <View::AccountSettings::Security::PasswordReq @requirement="Both passwords match" @reqPassed={{@requirementsModel.passwordsMatch}} />
        <View::AccountSettings::Security::PasswordReq @requirement="At least 8 characters long" @reqPassed={{@requirementsModel.atLeastThisLong}}/>
        <View::AccountSettings::Security::PasswordReq @requirement="Contains lowercase" @reqPassed={{@requirementsModel.hasLowercase}}/>
        <View::AccountSettings::Security::PasswordReq @requirement="Contains uppercase" @reqPassed={{@requirementsModel.hasUppercase}}/>
        <View::AccountSettings::Security::PasswordReq @requirement="Contains a number" @reqPassed={{@requirementsModel.hasNumber}}/>
        <View::AccountSettings::Security::PasswordReq @requirement="Contains one of these symbols: ! $ & . # @" @reqPassed={{@requirementsModel.hasSymbol}}/>
    </ul>
</div>