<div class="hn login-or-signup">
    <img src="/assets/splash/logo-placeholder-after.svg" class="hn-logo" alt="house ninja"/>
    <div class="actions" {{did-insert this.show}}>
        <Primitive::Button @type="button" @size="lg" @variant="solid" @semantic="accent" {{on "click" this.login}}>Login</Primitive::Button>            
        <button class="hn onboarding-button mt-8" type="button" {{on "click" this.onboardUser}}>
            Set Up My Account
        </button>
        <p class="hn center mt-2">Set up your account if logging in for the first time.</p>
    </div>
    <div class="hn sign-up-container" {{did-insert this.show}}>
        <Primitive::Button @type="button" @size="lg" @variant="floating" @semantic="white" {{on "click" this.openSignUpViewInSystemBrowser}}>Sign Up</Primitive::Button>
    </div>
</div>
