<main class="hn view {{@class}} {{if @topBar "with-top-bar"}} {{if @navBar "with-nav-bar"}}" {{did-insert this.applyPreservedScrollPosition}}>
  {{yield}}
  {{#if @hideLogo}}
  {{else}}
    <div class="logo-container">
      {{svg-jar "logo+black+teal" alt="House Ninja" class="logo"}}
    </div>
  {{/if}}
</main>