<div class="content mb-16">
    <div class="prompt">
        <p class="primary">Payment Method</p>
        <p>Let's get you signed up</p>
        <StripeElements as |Elements|>
          <Elements.cardNumber @onReady={{this.handleReady}} />
          <Elements.cardExpiry />
          <Elements.cardCvc />
          <Elements.postalCode />
        </StripeElements>
        <Primitive::Input
            @id={{'promo-code'}}
            @placeholder={{'Promo Code (optional)'}}
            @label={{'Promo Code'}}
            @value={{mut this.promoCode}}
        />
        <div class='terms'>
            <Input
                @type="checkbox"
                @checked={{mut this.agreesToTermsAndConditions}}
                id="terms-agree"
                name="terms"
            />
            <span for="terms">I have read and agree to the <a href="" target="_blank" rel="noopener noreferrer">Terms and Conditions Agreement</a></span>
        </div>
    </div>
    <div class="action">
        <Primitive::Button
            @size='lg' @variant='outline'
            @semantic='primary'
            {{on 'click' this.goBack}}
        >
            Previous
        </Primitive::Button>
        <Primitive::Button
            @size='lg'
            @variant='solid'
            @semantic='primary'
            {{on 'click' this.savePaymentMethod}}
        >
            Subscribe
        </Primitive::Button>
    </div>
</div>