<div class="content mb-16">
    <div class="prompt">
        <p class="primary">Payment Method</p>
        <p>Let's get you signed up</p>
        {{#each this.fields as |field|}}
            <Primitive::Input
                @id={{field.id}}
                @label={{field.label}}
                @required={{field.required}}
                @type={{field.type}}
                @placeholder={{field.placeholder}}
                @value={{mut (get this.paymentMethod field.id)}}
                @onInput={{this.validateForm}}
                @maxLength={{field.maxLength}}
            />
        {{/each}}
        <Primitive::Input
            @id={{'promo-code'}}
            @warn={{if this.promoCodeInput this.promoCodeAlert}}
            @description={{this.promoCodeDescription}}
            @placeholder={{'Promo Code (optional)'}}
            @label={{'Promo Code'}}
            @value={{mut this.promoCodeInput}}
            @onInput={{(perform this.checkPromoCode)}}
        />
        <div class='terms'>
            <Primitive::Button
            @size='lg' @variant='secondary'
            @semantic='outline'
            {{!-- {{on 'click' this.goBack}} --}}
        >
            View Terms and Conditions Agreement
        </Primitive::Button>
            <div class='agreement'>
                <Input
                    @type="checkbox"
                    @checked={{mut this.agreesToTermsAndConditions}}
                    id="terms-agree"
                    name="terms"
                    disabled={{true}}
                />
                <span for="terms">I have read and agree to the Terms and Conditions Agreement</span>
            </div>
            
        </div>
    </div>
    <div class="action">
        <Primitive::Button
            @size='lg' @variant='outline'
            @semantic='primary'
            {{on 'click' this.goBack}}
        >
            Previous
        </Primitive::Button>
        <Primitive::Button
            @size='lg'
            @variant='solid'
            @semantic='primary'
            @disabled={{this.formIsInvalid}}
            {{on 'click' this.savePaymentMethod}}
        >
            Subscribe
        </Primitive::Button>
    </div>
</div>