<div class="actions">                
    <Primitive::Button @type="button" @size="md" @variant="outline" @semantic="primary" {{on "click" @handleReportAnIssue}}>
        I have a question
    </Primitive::Button>
    <Primitive::Button @type="button" @size="md" @variant="outline" @semantic="secondary" {{!-- @disabled={{false}} --}}>
        View Estimate
    </Primitive::Button>        
</div>
<hr/>
<div class="hn banner-message">
    <p class="hn strong center">
        You have a new estimate for approval.<br/><br/>
    </p>    
    <Primitive::Button @type="button" @size="md" @variant="solid" @semantic="secondary" {{!-- @disabled={{this.isProcessing}} --}} {{!-- {{on "click" this.handleEstimateApproval}} --}}>
        Approve Estimate
    </Primitive::Button>
</div>
<Primitive::Section>
    <div class="work-order-details">    
        <p class="hn field highlight center"><span class="hn label">Estimate: </span>{{"$999"}}</p>
        <p class="hn field"><span class="hn label">Description: </span>{{@model.description}}</p>
        <p class="hn field"><span class="hn label">Status: </span>{{@model.statusLabel}}</p>
        <p class="hn field"><span class="hn label">Vendor: </span>{{@model.vendor}}</p>
        <p class="hn field"><span class="hn label">Scheduled Date: </span>{{if @model.scheduledDate @model.scheduledDate 'TBD'}}</p>
        <p class="hn field"><span class="hn label">Scheduled Time: </span>{{if @model.scheduledTime @model.scheduledTime 'TBD'}}</p>
        <p class="hn field"><span class="hn label">Notes: <br/></span>{{if @model.notes @model.notes}}</p>
    </div>
    <div class="payment-processing {{if this.isProcessing 'show'}} {{if this.paid 'paid'}}">
        {{#if this.isApproved}}
            <div class="payment-confirmation">
                <p class="hn center">Thank you for approving the estimate.</p>
                <br/>
                <p class="hn center">We have notified the service provider.</p>
                <br/>
                <Primitive::Button @type="button" @size="md" @variant="solid" @semantic="accent" {{on "click" this.gotIt}}>
                    Got It
                </Primitive::Button>
            </div>
        {{else}}       
            <Primitive::Loader::Logo @isDone={{this.isDoneProcessing}}/>
            <p class="hn label strong">Processing</p>
        {{/if}}
    </div>
</Primitive::Section>