<div class="actions">                
        <Primitive::Button @type="button" @size="md" @variant="outline" @semantic="primary" {{!-- {{on "click" (fn this.displayMessageComposer this.issueMessage)}} --}}>
            I have an issue
        </Primitive::Button>
        <Primitive::Button @type="button" @size="md" @variant="solid" @semantic="accent" {{!-- {{on "click" (fn this.selectRoute 'edit')}} --}}>
            Approve Payment
        </Primitive::Button>        
</div>
<div class="work-order-details">
    <p><span class="hn label">Status: </span>{{@model.statusLabel}}</p>
    <p><span class="hn label">Description: </span>{{@model.description}}</p>
    <p><span class="hn label">Vendor: </span>{{@model.vendor}}</p>
    <p><span class="hn label">Scheduled Date: </span>{{if @model.scheduledDate @model.scheduledDate 'TBD'}}</p>
    <p><span class="hn label">Scheduled Time: </span>{{if @model.scheduledTime @model.scheduledTime 'TBD'}}</p>
    <p><span class="hn label">Amount Due: </span>{{if @model.scheduledTime @model.scheduledTime 'TBD'}}</p>
    <Primitive::Button @type="button" @size="md" @variant="outline" @semantic="secondary" @disabled={{true}} {{!-- {{on "click" (fn this.selectRoute 'edit')}} --}}>
        View Invoice
    </Primitive::Button>
</div>
<div class="work-order-container">
    
</div>