<div class="actions">                
    <Primitive::Button @type="button" @size="md" @variant="outline" @semantic="primary" {{on "click" @handleReportAnIssue}}>
        I have an issue
    </Primitive::Button>
    <Primitive::Button @type="button" @size="md" @variant="solid" @semantic="accent" @disabled={{this.isProcessing}} {{on "click" this.handlePaymentApproval}}>
        Approve Payment
    </Primitive::Button>        
</div>
<div class="hn banner-message">
    <p>
        The service provider informed us that they’ve completed their work. <br/><br/>
        Please visually confirm the work and approve payment or contact us about any issues.
    </p>
</div>
<div class="work-order-details">
    <p class="hn field highlight center"><span class="hn label">Amount Due: </span>{{"$999"}}</p>
    <p class="hn field"><span class="hn label">Status: </span>{{@model.statusLabel}}</p>
    <p class="hn field"><span class="hn label">Description: </span>{{@model.description}}</p>
    <p class="hn field"><span class="hn label">Vendor: </span>{{@model.vendor}}</p>
    <p class="hn field"><span class="hn label">Performed On: </span>{{if @model.scheduledDate @model.scheduledDate 'TBD'}}</p>    
    <Primitive::Button @type="button" @size="md" @variant="outline" @semantic="secondary" @disabled={{true}} {{!-- {{on "click" (fn this.selectRoute 'edit')}} --}}>
        View Invoice
    </Primitive::Button>
</div>
<div class="payment-processing {{if this.isProcessing 'show'}} {{if this.paid 'paid'}}">
    {{#if this.paid}}
        <div class="payment-confirmation">
            <p class="hn center">Thank you for approving payment.</p>
            <br/>
            <p class="hn center">This job is complete and can now be found in your History tab.</p>
            <br/>
            <br/>
            <Primitive::Button @type="button" @size="md" @variant="solid" @semantic="accent" {{on "click" this.gotIt}}>
                Got It
            </Primitive::Button>
        </div>
    {{else}}       
        <Primitive::Loader::Logo @isDone={{this.isDoneProcessing}}/>
        <p class="hn label strong">Processing Payment</p>
    {{/if}}
</div>