{{#if this.isNativePlatform}}
<div class="actions">
    <Primitive::Button @type="button" @size="md" @variant="outline" @semantic="primary" {{on "click" @handleReportAnIssue}}>
        I have an issue
    </Primitive::Button>
    <Primitive::Button @type="button" @size="md" @variant="outline" @semantic="primary" @disabled={{true}}>
        View Invoice
    </Primitive::Button>
</div>
<hr/>
{{/if}}
<Primitive::Section>
    <div class="hn banner-message">
        <p>
            Your service has been completed. Please finalize payment via the button below.
        </p>    
    </div>
    <div class="work-order-details">    
        <p class="hn field"><span class="hn label">Amount Due: {{@model.invoice.formattedTotal}}</span></p>
        <p class="hn field"><span class="hn label">Description: </span>{{@model.description}}</p>
        <p class="hn field"><span class="hn label">Status: </span>{{@model.statusLabel}}</p>
        <p class="hn field"><span class="hn label">Vendor: </span>{{@model.vendor}}</p>
        <p class="hn field"><span class="hn label">Date of Service: </span>{{if @model.scheduledDate @model.scheduledDate 'TBD'}}</p>    
        <p class="hn field"><span class="hn label">Notes: <br/></span>{{if @model.notes @model.notes}}</p>
    </div>    
    <Primitive::Button @type="button" @size="md" @variant="solid" @semantic="accent" @disabled={{this.isProcessing}} {{on "click" this.confirm}}>
        Approve Payment
    </Primitive::Button>
    {{#if this.showWebDialog}}        
        <View::WorkOrder::Content::ApprovePayment::WebDialog
            @toggleModal={{this.toggleModal}}
            @model={{@model}}
            @cvc={{this.cvc}}
            @cvcError={{this.cvcError}}
            @creditCard={{this.creditCard}}
            @isProcessing={{this.isProcessing}}
            @validateCVC={{this.validateCVC}}
        />
    {{/if}}
</Primitive::Section>
<View::WorkOrder::Content::ApprovePayment::Processing            
    @selectRoute={{this.selectRoute}}
    @isNativePlatform={{this.isNativePlatform}}
    @isProcessing={{this.isProcessing}}
    @paid={{this.paid}}
    @isDoneProcessing={{this.isDoneProcessing}}            
/>