<div class="actions">                
    <Primitive::Button @type="button" @size="md" @variant="outline" @semantic="primary" {{on "click" @handleReportAnIssue}}>
        I have a question
    </Primitive::Button>
    <Primitive::Button @type="button" @size="md" @variant="outline" @semantic="primary" {{!-- @disabled={{false}} --}}>
        View Estimate
    </Primitive::Button>        
</div>
<hr/>
<Primitive::Section>
    <div class="hn banner-message">
        <p class="hn">
            You have a new estimate for approval. Please approve the estimate via the button below.<br/>
        </p>
    </div>
    <div class="work-order-details">    
        <p class="hn field"><span class="hn label strong">Estimate: {{"$999"}}</span></p>
        <p class="hn field"><span class="hn label">Description: </span>{{@model.description}}</p>
        <p class="hn field"><span class="hn label">Status: </span>{{@model.statusLabel}}</p>
        <p class="hn field"><span class="hn label">Vendor: </span>{{@model.vendor}}</p>
        <p class="hn field"><span class="hn label">Scheduled Date: </span>{{if @model.scheduledDate @model.scheduledDate }}</p>
        <p class="hn field"><span class="hn label">Scheduled Time: </span>{{if @model.scheduledTime @model.scheduledTime }}</p>
        <p class="hn field"><span class="hn label">Notes: <br/></span>{{if @model.invoice.description @model.invoice.description}}</p>
    </div>
    <Primitive::Button @size="md" @variant="solid" @semantic="accent" {{!-- @disabled={{this.isProcessing}} --}} {{!-- {{on "click" this.handleEstimateApproval}} --}}>
        Approve Estimate
    </Primitive::Button>
    <div class="payment-processing {{if this.isProcessing 'show'}} {{if this.paid 'paid'}}">
        {{#if this.isApproved}}
            <div class="payment-confirmation">
                <p class="hn center">Thank you for approving the estimate.</p>
                <br/>
                <p class="hn center">We have notified the service provider.</p>
                <br/>
                <Primitive::Button @type="button" @size="md" @variant="solid" @semantic="accent" {{on "click" this.gotIt}}>
                    Got It
                </Primitive::Button>
            </div>
        {{else}}       
            <Primitive::Loader::Logo @isDone={{this.isDoneProcessing}}/>
            <p class="hn label strong">Processing</p>
        {{/if}}
    </div>
</Primitive::Section>