<Primitive::Section>
    <div class="work-order-details">
        <p class="hn field"><span class="hn label">Description: </span>{{@model.description}}</p>
        <p class="hn field"><span class="hn label">Status: </span>{{@model.statusLabel}}</p>
        <p class="hn field"><span class="hn label">Vendor: </span>{{if @model.vendor @model.vendor }}</p>
        <p class="hn field"><span class="hn label">Date of Service: </span>{{if @model.scheduledDate @model.scheduledDate }}</p>        
        <p class="hn field"><span class="hn label">Notes: <br/></span>{{if @model.invoice.description @model.invoice.description}}</p>
    </div>
    {{#if this.imageUrl}}
        <div class="document-container">
            <Primitive::Button {{on "click" this.openBrowser}} @variant="plain with-image">
                <Primitive::Image
                    @src={{this.imageUrl}}
                    @alt="invoice"
                    @width="500"
                />
            </Primitive::Button>    
        </div>        
    {{/if}}    
</Primitive::Section>