<Primitive::Section>
    <div class="work-order-details">
        <p class="hn field"><span class="hn label">Description: </span>{{@model.description}}</p>
        <p class="hn field"><span class="hn label">Status: </span>{{@model.statusLabel}}</p>
        <p class="hn field"><span class="hn label">Vendor: </span>{{if @model.vendor @model.vendor 'TBD'}}</p>
        <p class="hn field"><span class="hn label">Date of Service: </span>{{if @model.scheduledDate @model.scheduledDate 'TBD'}}</p>        
        <p class="hn field"><span class="hn label">Notes: <br/></span>{{if @model.notes @model.notes}}</p>
    </div>
    <div class="document-container">
        {{#if this.imageUrl}}
            <Primitive::Button {{on "click" this.openBrowser}} @variant="plain with-image">
                <Primitive::Image
                @src={{this.imageUrl}}
                @alt="invoice"
                @width="500"
                />
            </Primitive::Button>    
        {{else}}
            <div class="document-placeholder">
                <p class="hn center">Please check back in a few minutes while a receipt is being generated</p>
            </div>
        {{/if}}    
    </div>
</Primitive::Section>