<div class="hn top-bar w-screen top-0 z-1 {{@class}}">
  <div class="action-container">
    {{#if (eq @content 'dashboard')}}
      <TopBar::Content::Dashboard />
    {{else if (eq @content 'focused')}}
      <TopBar::Content::Focused @hideHome={{@hideHome}} />
    {{else if (eq @content 'logo-only')}}
      <TopBar::Content::LogoOnly @linkToMarketingSite={{@linkToMarketingSite}} />
    {{/if}}
  </div>
  <Primitive::Loader::Global @topBar={{true}}/>
</div>