<div class="settings-view dark account-information">
    <h1 class="hn view-title">Edit Account Information</h1>
    {{#each @fields as |field|}}
        <Primitive::Input
          @id={{field.id}}
          @required={{field.required}}
          @placeholder={{field.placeholder}}
          @value={{mut (get @model field.id)}}
          @description={{field.description}}
          @label={{field.label}}
          @type={{field.type}}
          @disabled={{field.disabled}}
          @onInput={{@validateForm}}
        />
    {{/each}}
    <p class="mb-4">If you’d like to update your email or phone number, please <strong><button class="hn strong accent override underline" type="button" {{on "click" @openChatModal}}>message us</button></strong> directly.</p>
    <Primitive::Button @type="button" @size="sm" @variant="floating" @semantic="white" {{on "click" (fn this.selectRoute "cancel-subscription")}}>Cancel My Subscription</Primitive::Button>
</div>