<div class="settings-view dark">
    <h1 class="hn view-title">Edit Account Information</h1>
    {{#each @fields as |field|}}
        <Primitive::Input
          @id={{field.id}}
          @required={{field.required}}
          @placeholder={{field.placeholder}}
          @value={{mut (get @model field.id)}}
          @description={{field.description}}
          @label={{field.label}}
          @type={{field.type}}
          @disabled={{field.disabled}}
          @onInput={{@validateForm}}
        />
    {{/each}}
    <p>If you’d like to update your email or phone number, please <button class="hn accent override" type="button" {{on "click" @openChatModal}}>message us</button> directly.</p>
</div>