<div class="settings-view dark">
    <h1 class="hn view-title">Edit Property Address</h1>

    {{#each @fields as |field|}}
        {{#if field.isSelect}}
            <Primitive::Select
              @id={{field.id}}
              @options={{field.options}}
              @label={{field.label}}
              @required={{true}}
              @disabled={{true}}
              @value={{mut (get @model field.id)}}
              @onChange={{@onSelect}}
            />
        {{else}}
            <Primitive::Input
              @id={{field.id}}
              @required={{field.required}}
              @placeholder={{field.placeholder}}
              @value={{mut (get @model field.id)}}
              @description={{field.description}}
              @label={{field.label}}
              @type={{field.type}}
              @disabled={{true}}
              @onInput={{@validateForm}}
            />
        {{/if}}
    {{/each}}
    <p>If you’d like to update your property address, please <strong><button class="hn strong accent override underline" type="button" {{on "click" @showMessenger}}>message us</button></strong> directly.</p>
</div>