<div class="hn document-vault document">
    <div class="actions">
        <Primitive::Button @type="button" @size="md" @variant="outline" @semantic="primary" {{on "click" (fn this.selectRoute 'back')}}>
            Back
        </Primitive::Button>
        <Primitive::Button @type="button" @size="md" @variant="solid" @semantic="primary" {{!-- {{on "click" (fn this.selectRoute 'edit')}} --}}>
            Edit
        </Primitive::Button>
    </div>
    <div class="document-details">
        <p><span class="hn label">Name: </span>{{@model.name}}</p>
        <p><span class="hn label">Description: </span>{{@model.description}}</p>
        <p><span class="hn label">Group: </span>{{if @model.groupName @model.groupName 'Uncategorized'}}</p>
    </div>
    <div class="document-container">
        <button type="button" {{on "click" this.openBrowser}}>
            <img src={{@model.uri}} alt={{@model.name}} />
        </button>
    </div>
</div>