<div class="content mb-16">    
    <div class="prompt">        
        <p class="primary">Payment Method</p>    
        <p>Let's get you signed up</p>
        {{#each @fields as |field|}}
            <Primitive::Input @field={{field}} @id={{field.id}} @label={{field.label}} @required={{field.required}} @type={{field.type}} />
        {{/each}}
    </div>
    <div class="action">        
        <Primitive::Button @size='lg' @variant='outline' @semantic='primary'>Previous</Primitive::Button>
        <Primitive::Button @size='lg' @variant='solid' @semantic='primary'>Subscribe</Primitive::Button>
    </div>
</div>