{{! 
    OPTIONS
    @size: sm, md, lg
    @variant: solid, outline, floating, plain
    @semantic: primary, accent, secondary, white, black
    @class: string
    @disabled: true / false
    @turnOffHapticFeedback: true / false (default)
 }}
<button
  class='hn btn
    {{@size}}
    {{@variant}}
    {{@semantic}}
    {{if @disabled "disabled"}}
    {{@class}}'
  type={{if @type @type 'button'}}
  disabled={{@disabled}}
  {{on "click" this.handleClick}}
  ...attributes
>
  {{yield}}
</button>