{{!-- 
    OPTIONS
    Size: sm, md, lg
    Variant: solid, outline, floating
    Semantic: primary, accent
 --}}
<button 
    class="hn btn {{@size}} {{@variant}} {{@semantic}} {{if @disabled 'disabled'}}" 
    type={{if @type @type 'button'}} disabled={{@disabled}}    
    ...attributes
>
    {{yield}}
</button>