<div class="content mb-16">
    <div class="hero mb-16">
        <p class="hn strong">Let’s set your account password.</p>
        <br/>
        <br/>
        <div class="password-reqs">
            <p class="hn label">Password Requirements</p>
            <ul>
                <View::AccountSettings::Security::PasswordReq @requirement="Both passwords match" @reqPassed={{false}} />
                <View::AccountSettings::Security::PasswordReq @requirement="At least 12 characters long" @reqPassed={{false}}/>
                <View::AccountSettings::Security::PasswordReq @requirement="Contains lowercase" @reqPassed={{false}}/>
                <View::AccountSettings::Security::PasswordReq @requirement="Contains uppercase" @reqPassed={{false}}/>
                <View::AccountSettings::Security::PasswordReq @requirement="Contains a number" @reqPassed={{false}}/>
                <View::AccountSettings::Security::PasswordReq @requirement="Contains one of these symbols: ! $ & . # @" @reqPassed={{false}}/>
            </ul>
        </div>

    </div>
    <div class="prompt">
        {{#each @fields as |field|}}
            <Primitive::Input
                @id={{field.id}}
                @required={{field.required}}
                @placeholder={{field.placeholder}}
                @value={{mut (get this.passwords field.value)}}
                @description={{field.description}}
                @label={{field.label}}
                @type={{field.type}}
                @disabled={{field.disabled}}
            />
        {{/each}}
    </div>
    <div class="action">
        <Primitive::Button
            @size='lg'
            @variant='solid'
            @semantic='primary'
            {{on 'click' this.savePassword}}
        >
            Set Password
        </Primitive::Button>
    </div>
</div>