<div class="content mb-4">
    <div class="hero mb-4">
        <p class="hn strong">One last step!</p>
        <p class="hn">Let’s set your account password.</p>
        <br/>
        <br/>
        <div class="password-reqs">
            <p class="hn label">Password Requirements</p>
            <ul>
                <View::AccountSettings::Security::PasswordReq @requirement="Both passwords match" @reqPassed={{this.requirementsModel.passwordsMatch}} />
                <View::AccountSettings::Security::PasswordReq @requirement="At least 8 characters long" @reqPassed={{this.requirementsModel.atLeastThisLong}}/>
                <View::AccountSettings::Security::PasswordReq @requirement="Contains lowercase" @reqPassed={{this.requirementsModel.hasLowercase}}/>
                <View::AccountSettings::Security::PasswordReq @requirement="Contains uppercase" @reqPassed={{this.requirementsModel.hasUppercase}}/>
                <View::AccountSettings::Security::PasswordReq @requirement="Contains a number" @reqPassed={{this.requirementsModel.hasNumber}}/>
                <View::AccountSettings::Security::PasswordReq @requirement="Contains one of these symbols: ! $ & . # @" @reqPassed={{this.requirementsModel.hasSymbol}}/>
            </ul>
        </div>

    </div>
    <div class="prompt">
        {{#each this.fields as |field|}}
            <Primitive::Input
                @id={{field.id}}
                @required={{field.required}}
                @placeholder={{field.placeholder}}
                @value={{mut (get this.passwords field.id)}}
                @description={{field.description}}
                @label={{field.label}}
                @type={{field.type}}
                @disabled={{field.disabled}}
                @onInput={{this.validateForm}}
            />
        {{/each}}
    </div>
    <div class="action single">
        <Primitive::Button
            @size='lg'
            @variant='solid'
            @semantic='primary'
            @disabled={{this.formIsInvalid}}
            {{on 'click' this.savePassword}}            
        >
            Set Password
        </Primitive::Button>
    </div>
</div>