<div class="content">        
    <Primitive::Section>
        <div class="prompt">
            <p class="primary">What is your zip code?</p>
            <Primitive::Input
                @label='Zipcode'
                @placeholder='Zipcode'
                @hideLabel={{true}}
                @required={{true}}
                @type={{'number'}}
                @value={{mut this.zipcode}}
                @onInput={{this.validateForm}}
            />
        </div>
        <div class="action single">
            <Primitive::Button
            @size='lg'
            @variant='solid'
            @semantic='primary'
            @disabled={{this.formIsInvalid}}
            {{on 'click' this.checkServiceArea}}
            >
                Next <img src="/assets/icons/right-arrow.svg" alt="right" class="icon"/>
            </Primitive::Button>
        </div>
    </Primitive::Section>
    <Primitive::Section>
        <div class="hero">                
            <p class="hn strong mt-4 mb-4">Managing your home is a hassle—let House Ninja handle it.</p>
            <div class="mb-4">
                <p class="hn accent">For just $29/mo, you get:</p>
                <ul>
                    <li>Dedicated team to manage your home</li>
                    <li>Automated home maintenance</li>
                    <li>Access to the best local vendors</li>
                    <li>24/7 availability for your home needs</li>
                    <li>Detailed home evaluation</li>
                    <li>Digital home record</li>
                </ul>                    
            </div>
            <p>To get started, enter the zip code of your property.</p>
        </div>
    </Primitive::Section>
</div>