<nav class="nav-bar">
  <button class="hn btn sm solid accent m-2" type="button" {{!-- {{on "click" (fn this.openChatModal)}} --}}>Help me with...</button>
  <ul class="nav-menu">
    <li class="nav-menu-item">
      <button type="button" {{on "click" (fn this.selectRoute 'home')}} class="{{this.isHomeActive}}">
        <img src="assets/icons/property.svg" alt="home icon" class="nav-menu-item-icon"/>
        Home
      </button>
    </li>
    <li class="nav-menu-item">
      <button type="button" {{on "click" (fn this.selectRoute 'handle-it')}} class="{{this.isHandleItActive}}">
        <img src="assets/icons/tools.svg" alt="handle it icon" class="nav-menu-item-icon"/>
        Handle It
      </button>
    </li>
    <li class="nav-menu-item">
      <button type="button" {{on "click" (fn this.selectRoute 'work-history')}} class="{{this.isWorkHistoryActive}}">
        <img src="assets/icons/activity.svg" alt="history icon" class="nav-menu-item-icon"/>
        History
      </button>
    </li>
  </ul>
</nav>