<nav class="hn nav-bar">
  <Primitive::Button @class="hn-nav-message-us" @type="button" @size="md" @variant="solid" {{on "click" this.openChatModal}}>
        Message House Ninja
  </Primitive::Button>
  <ul class="nav-menu">
    <li class="nav-menu-item">
      <Primitive::Button {{on "click" (fn this.selectRoute this.dashboardHomeRoute)}} @variant="plain" @class={{this.isHomeActive}}>
        {{svg-jar "property" alt="home icon" class="nav-menu-item-icon"}}
        Home
      </Primitive::Button>
    </li>
    <li class="nav-menu-item">
      <Primitive::Button  {{on "click" (fn this.selectRoute this.dashboardHandleItRoute)}} @variant="plain" @class={{this.isHandleItActive}}>
        {{svg-jar "tools" alt="handle it icon" class="nav-menu-item-icon"}}
        Handle It
      </Primitive::Button>
    </li>
    <li class="nav-menu-item">
      <Primitive::Button  {{on "click" (fn this.selectRoute this.dashboardHistoryRoute)}} @variant="plain" @class={{this.isWorkHistoryActive}}>
        {{svg-jar "activity" alt="history icon" class="nav-menu-item-icon"}}
        History
      </Primitive::Button>
    </li>
  </ul>
</nav>