<div class="hn document-vault">
    <div class="actions">
        <Primitive::Button @type="button" @size="md" @variant="outline" @semantic="primary" {{on "click" (fn this.selectRoute this.vaultGroupAddRoute null)}}>
            Add Category
        </Primitive::Button>
        <Primitive::Button @type="button" @size="md" @variant="solid" @semantic="primary" {{on "click" this.toggleUploadMenu}}>
            Upload
        </Primitive::Button>
    </div>
    <Primitive::Section>
        <h1 class="hn center">Document Vault</h1>
        <p class="hn center">Store and categorize all of your important home documents</p>
    </Primitive::Section>
    <Primitive::Section @label="Categories" @allowCollapse={{true}}>
        <HouseNinja::DocumentVaultRecords @records={{@model.groups}} @onRecordClick={{this.handleRecordClick}} @ifEmpty={{hash message="You have not added any categories." actionText="Add Category"}} @onIfEmptyButtonClick={{(fn this.selectRoute this.vaultGroupAddRoute)}}/>
    </Primitive::Section>
    <Primitive::Section @label="Uncategorized Documents">
        <HouseNinja::DocumentVaultRecords @records={{@model.documents}} @onRecordClick={{this.handleRecordClick}} @ifEmpty={{hash message="You have no uncategorized documents." actionText="Upload Document"}} @onIfEmptyButtonClick={{this.toggleUploadMenu}}/>
    </Primitive::Section>
    <Primitive::Modal::Sheet @isVisible={{this.showUploadMenu}} @toggleModal={{this.toggleUploadMenu}}>
        <ul class="hn-menu">
            {{#each this.uploadOptions as |option| }}
                <li class="hn-sheet-menu-option">
                    <Primitive::Button @variant="plain" {{on "click" (fn option.select option)}}>
                        {{option.label}}
                        {{svg-jar "greater-than" alt="right arrow" class="menu-item-icon"}}
                    </Primitive::Button>
                </li>
            {{/each}}
        </ul>
    </Primitive::Modal::Sheet>
</div>