<div {{did-insert this.handleInsert}} class="hn hn-input-field {{if @warn 'warn' ''}} {{if @alert 'alert' ''}}{{if @disabled 'disabled' ''}} {{if @errors 'alert' ''}} {{if @hideLabel 'label-hidden'}} {{if (or this.hasValue this.isFocused) 'active'}}">
    <div class="hn-input-container">
        {{#if @hideLabel}}
            {{!-- template-lint-disable require-input-label  --}}
            <Input
              class="hn-input"
              id={{@id}}
              @type={{if @type @type "text"}}
              pattern={{if @pattern @pattern}}
              required={{@required}}
              placeholder={{@placeholder}}
              @value={{mut @value}}
              disabled={{@disabled}}
              aria-label={{@label}}
              {{on 'input' this.handleInput}}
              {{on 'paste' this.handlePaste}}
            />
        {{else}}
            <label class="hn-input-label" for={{@id}}>
                {{@label}}
                {{#if @placeholder}}
                    <span class="hn-input-placeholder" aria-placeholder={{@placeholder}}>{{@placeholder}}</span>
                {{/if}}
                </label>
            <Input
              class="hn-input"
              id={{@id}}
              @type={{if @type @type "text"}}
              pattern={{if @pattern @pattern}}
              required={{@required}}
              placeholder={{@placeholder}}
              @value={{mut @value}}
              disabled={{@disabled}}
              {{on 'input' this.handleInput}}
              {{on 'paste' this.handlePaste}}
              {{on 'focus' this.handleFocus}}
              {{on 'blur' this.handleBlur}}
            />
        {{/if}}
    </div>
    {{#if @errors}}
        {{#each @errors as |error|}}
            <span class="hn-input-description">{{error.message}}</span>
        {{/each}}
    {{else if this.descriptionText}}
        <span class="hn-input-description">{{this.descriptionText}}</span>
    {{/if}}
</div>