<div class="hn hn-input-field {{if @warn 'warn' ''}}{{if @disabled 'disabled' ''}}">
    <div class="hn-input-container">
        <label class="hn-input-label" for={{@field.id}} >{{@label}}</label>
        <input class="hn-input" id={{@field.id}} type="text" required={{@field.required}} placeholder={{@field.placeholder}} value={{@field.value}} disabled={{@disabled}}/>
    </div>
    {{#if @field.description}}
        <p class="hn-input-description">{{@field.description}}</p>
    {{/if}}
</div>