<div class="content">
    <div class="prompt">        
        {{#if @isOnboarding}}
            <p class="primary mb-4">To resume the account onboarding process, enter in the details used during the sign up process.</p>        
        {{else}}
            <p class="primary">Contact Information</p>
        {{/if}}
        {{#each this.fields as |field|}}
            <Primitive::Input
                @id={{field.id}}
                @placeholder={{field.placeholder}}
                @label={{field.label}}
                @description={{field.description}}
                @required={{field.required}}
                @type={{field.type}}
                @value={{mut (get this.contactInfo field.id)}}
                @onInput={{this.validateForm}}
                @errors={{(get this.errors field.id)}}
            />
        {{/each}}
    </div>
    <div class="action single">
        <Primitive::Button
            @size='lg'
            @variant='solid'
            @semantic='primary'
            @disabled={{this.formIsInvalid}}
            {{on 'click' this.handlePrimaryClick}}
        >
            Next <img src="/assets/icons/right-arrow.svg" alt="right" class="icon"/>
        </Primitive::Button>
    </div>
</div>