<div class="content mb-16">
    <div class="prompt">
        <p class="primary">Account Details</p>
        {{#each @fields as |field|}}
            <Primitive::Input
                @field={{field}}
                @id={{field.id}}
                @label={{field.label}}
                @required={{field.required}}
                @type={{field.type}}
                @value={{mut (get this.contactInfo field.value)}}
            />
        {{/each}}
    </div>
    <div class="action">
        <Primitive::Button
            @size='lg'
            @variant='outline'
            @semantic='primary'
            {{on 'click' this.goBack}}
        >
            Previous
        </Primitive::Button>
        <Primitive::Button
            @size='lg'
            @variant='solid'
            @semantic='primary'
            {{on 'click' this.saveContactInfo}}
        >
            Next <img src="/assets/icons/right-arrow.svg" alt="right" class="icon"/>
        </Primitive::Button>
    </div>
</div>