<div class="hn document-vault group">
  <div class="actions">
      <Primitive::Button @type="button" @size="md" @variant="outline" @semantic="primary" {{on "click" (fn this.selectRoute 'vault')}}>
          Back
      </Primitive::Button>
      <Primitive::Button @type="button" @size="md" @variant="solid" @semantic="primary" class="mb-4" {{on "click" (fn this.selectRoute 'vault.group.edit')}}>
          Edit
      </Primitive::Button>
  </div>
  <Primitive::Section @label={{@model.name}}>
    <HouseNinja::DocumentVaultRecords
      @records={{@model.documents}}
      @onRecordClick={{this.selectRoute}}
      @ifEmpty={{this.getEmptyMessage}}
    />
  </Primitive::Section>
</div>