<div class="hn work-order">
    {{#if (eq this.contentType this.content.approvePayment)}}        
        <View::WorkOrder::Content::ApprovePayment 
        @model={{@model}} 
        @handleReportAnIssue={{fn this.displayMessageComposer this.issueMessage}}/>
    {{else if (eq this.contentType this.content.paymentFailed)}}        
        <View::WorkOrder::Content::FailedPayment 
            @model={{@model}} 
            @handleReportAnIssue={{fn this.displayMessageComposer this.issueMessage}}
            @selectRoute={{fn this.selectRoute 'settings.payment'}}
            />
    {{else if (eq this.contentType this.content.closed)}}        
        <View::WorkOrder::Content::Closed @model={{@model}} />
    {{else}}    
        <View::WorkOrder::Content::Default 
            @model={{@model}} 
            @handleCancelRequest={{fn this.displayMessageComposer this.cancelMessage}} 
            @handleReportAnIssue={{fn this.displayMessageComposer this.issueMessage}}/>
    {{/if}}    
</div>