<div class="content">
    <Primitive::Section>
        <div class="hero">
            <p class="hn primary">Home Address</p>
        </div>
    </Primitive::Section>
    <Primitive::Section>
        <div class="prompt">
            {{#each this.fields as |field|}}
                {{#if field.isSelect}}
                    <Primitive::Select
                        @id={{field.id}}
                        @options={{field.options}}
                        @label={{field.label}}
                        @required={{true}}
                        @disabled={{field.disabled}}
                        @value={{mut (get this.propertyInfo field.id)}}
                        @errors={{(get this.errors field.id)}}
                        @onChange={{this.handleSelect}}
                    />
                {{else}}
                    <Primitive::Input
                        @id={{field.id}}
                        @required={{field.required}}
                        @placeholder={{field.placeholder}}
                        @value={{mut (get this.propertyInfo field.id)}}
                        @description={{field.description}}
                        @label={{field.label}}
                        @type={{field.type}}
                        @disabled={{field.disabled}}
                        @onInput={{this.validateForm}}
                        @errors={{(get this.errors field.id)}}
                    />
                {{/if}}
            {{/each}}
        </div>
        <div class="action single">
            <Primitive::Button
                @size='lg'
                @variant='solid'
                @semantic='primary'
                @disabled={{this.formIsInvalid}}
                @isLoading={{this.isLoading}}
                {{on 'click' this.savePropertyInfo}}
            >
                Next: Book My Walkthrough <img src="/assets/icons/right-arrow.svg" alt="right" class="icon"/>
            </Primitive::Button>
        </div>
    </Primitive::Section>
</div>