<div class="content mb-16">
    <div class="prompt">
        <p class="hn primary">Home Address</p>
        {{#each this.fields as |field|}}
            {{#if field.isSelect}}
            <Primitive::Select
                @options={{field.options}}
                @label={{field.label}}
                @required={{true}}
                @disabled={{field.disabled}}
                @value={{mut (get this.propertyInfo field.id)}}
            />
        {{else}}
            <Primitive::Input
                @id={{field.id}}
                @required={{field.required}}
                @placeholder={{field.placeholder}}
                @value={{mut (get this.propertyInfo field.id)}}
                @description={{field.description}}
                @label={{field.label}}
                @type={{field.type}}
                @disabled={{field.disabled}}
                @onChange={{this.validateForm}}
            />
        {{/if}}
        {{/each}}
    </div>
    <div class="action">
        <Primitive::Button
            @size='lg'
            @variant='outline'
            @semantic='primary'
            {{on 'click' this.goBack}}
        >
            Previous
        </Primitive::Button>
        <Primitive::Button
            @size='lg'
            @variant='solid'
            @semantic='primary'
            @disabled={{this.formIsInvalid}}
            {{on 'click' this.savePropertyInfo}}
        >
            Next <img src="/assets/icons/right-arrow.svg" alt="right" class="icon"/>
        </Primitive::Button>
    </div>
</div>