<div class="content">
    <Primitive::Section>
        <div class="hero">        
            <img src="/assets/images/iStock-1354840767.jpg" class="view-hero crop-h-70" alt="generic map"/>
            {{#if this.userSubmittedEmail}}
                <p>We’ll let you know when we’re in the neighborhood!</p>
                <br/>
                {{!-- <p>In the meantime, you can set up a House Ninja account that you can use to manage your home.</p> --}}
            {{else}}
                <p>House Ninja is not available in your area yet, but add your email below to get FREE service once we get there!</p>
            {{/if}}
        </div>
    </Primitive::Section>
    {{#unless this.userSubmittedEmail}}    
        <Primitive::Section>
            <div class="prompt">                
                <Primitive::Input
                    @label='Email'
                    @placeholder='Email'
                    @hideLabel={{true}}
                    @required={{true}}
                    @type={{'email'}}
                    @value={{mut this.email}}
                />
            </div>
            <div class="action single">
                <Primitive::Button
                    @size='lg'
                    @variant='solid'
                    @semantic='primary'
                    @isLoading={{this.isLoading}}
                    {{on 'click' this.saveUserEmail}}
                >
                    Notify Me
                </Primitive::Button>
            </div>
        </Primitive::Section>
    {{/unless}}
</div>