{{page-title "Onboarding - Contact Info"}}
<View @class="onboarding light">
    <View::SignUp::Prompt::ContactInfo
        @isOnboardingViaNativeApp={{true}}
        @toggleModal={{this.toggleModal}}
    />
</View>
<Primitive::Modal::Dialog @toggleModal={{this.toggleModal}} @isVisible={{this.showDialog}}>
    <img class="mb-8" src="/assets/images/logo+black+teal.svg" alt="House Ninja" />
    <div class="mb-8">            
        <p class="hn center strong">An email with an authorization link has been sent to you.</p>
        <br/>
        <p class="hn center">Please find this email in your inbox and click the "Set Up My Account" button.</p>            
    </div>
    <div class="actions ">                
        <Primitive::Button {{on "click" this.toggleModal}} @size="md" @variant="solid" @semantic="primary">
            Close
        </Primitive::Button>
    </div>        
</Primitive::Modal::Dialog>