<div class='section {{if @label "with-label"}}'>
  {{#if @label}}
    <div class='head{{if this.isOpen "" " is-closed"}}'>
        <div class='label'>
        <p class='hn section-label'>{{@label}}</p>
        <p class='hn section-sub-label'>{{@subLabel}}</p>
        </div>
        {{#if this.allowCollapse}}
        <Primitive::Button {{on 'click' this.toggle}}>
            <div class='icon'>
            <span class='x'></span>
            <span class='y{{if this.isOpen " is-open" ""}}'></span>
            </div>
        </Primitive::Button>
        {{/if}}
    </div>
  {{/if}}
  <div class='body {{@bodyClass}}{{if this.isOpen "" " is-closed"}}'>
    {{yield}}
  </div>
  {{#if this.isOpen}}{{else}}
    <hr />
  {{/if}}
</div>