{{#if this.isNativePlatform}}
    <div class="actions">
        <Primitive::Button @type="button" @size="md" @variant="outline" @semantic="primary" {{on "click" this.inquireAboutInvoice}}>
            I have a question
        </Primitive::Button>
    </div>
    <hr/>
{{/if}}

<Primitive::Section>
    <div class="hn banner-message">
        <p>
            Your service has been completed. Please finalize payment via the button below.
        </p>
    </div>
    <div class="work-order-details">
        <p class="hn field"><span class="hn label">Amount Due: {{@model.invoice.formattedTotal}}</span></p>
        <p class="hn field"><span class="hn label">Description: </span>{{@model.description}}</p>
        <p class="hn field"><span class="hn label">Status: </span>{{@model.statusLabel}}</p>
        <p class="hn field"><span class="hn label">Vendor: </span>{{@model.vendor}}</p>
        <p class="hn field"><span class="hn label">Date of Service: </span>{{if @model.scheduledDate @model.scheduledDate }}</p>
        <p class="hn field"><span class="hn label">Notes: <br/></span>{{if @model.invoice.formattedNotes @model.invoice.formattedNotes}}</p>
    </div>
    <Primitive::Button @type="button" @size="md" @variant="solid" @semantic="accent" @disabled={{this.isProcessing}} {{on "click" this.confirm}}>
        Approve Payment
    </Primitive::Button>
    {{#if this.isNativePlatform}}
        <p class="mt-4">This will charge your {{this.creditCard.cardBrand}} ending in {{this.creditCard.lastFour}}. If you would like to use a different method of payment, please <button class="hn accent override" type="button" {{on "click" this.requestDifferentPayment}}><span class="underline"><strong>tap here</strong></span></button> to message us.</p>
    {{/if}}
    <View::WorkOrder::Content::ApprovePayment::WebDialog
        @isVisible={{this.showWebDialog}}
        @toggleWebDialog={{this.toggleWebDialog}}
        @isProcessing={{this.isProcessing}}
        @approvePayment={{this.approvePayment}}
        @formattedTotal={{@model.invoice.formattedTotal}}
        @creditCard={{this.creditCard}}
    />
</Primitive::Section>
<View::WorkOrder::Content::ApprovePayment::Processing
    @paid={{this.paid}}
    @paymentFailed={{this.paymentFailed}}
    @requestDifferentPayment={{this.requestDifferentPayment}}
    @isProcessing={{this.isProcessing}}
    @isDoneProcessing={{this.isDoneProcessing}}
    @isNativePlatform={{this.isNativePlatform}}
    @selectRoute={{this.selectRoute}}
    @isDone={{@isDone}}
    @toggleIsProcessing={{this.toggleIsProcessing}}
/>