<Primitive::Modal::Dialog @toggleModal={{@toggleWebDialog}} @isVisible={{@isVisible}}>
    <img class="mb-8" src="/assets/images/logo+black+teal.svg" alt="House Ninja" />
    <div class="hn app-download-encouragement">
        <p class="hn center mb-4">House Ninja is introducing a seamless new payment approval process. Download the House Ninja app to make one-tap payments and store multiple payment methods to your account.</p>
        <button class="hn ios-download" type="button" {{on "click" this.downloadFromAppStore}}>
            <img src="/assets/images/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917 1.svg" class="" alt="apple store download"/>
        </button>
    </div>    
    <p class="hn center strong underline">Or simply use the payment form below to pay for your service</p>
    {{!-- <p class="hn center strong underline">Please enter your payment method on file</p> --}}
    <div>
        <div class="hn payment-method-form">
            {{#each this.fields as |field|}}
                <Primitive::Input
                    @id={{field.id}}
                    @label={{field.label}}
                    @required={{field.required}}
                    @type={{field.type}}
                    @placeholder={{field.placeholder}}
                    @value={{mut (get this.paymentMethod field.id)}}
                    @onInput={{this.validatePaymentMethodForm}}
                    @maxLength={{field.maxLength}}
                    @errors={{(get this.errors field.id)}}
                />
            {{/each}}
        </div>
        <p class="hn center strong mb-4">Do you approve the payment of {{@formattedTotal}}?</p>
        <div class="actions">
            <Primitive::Button {{on "click" @toggleWebDialog}} @class="mb-2" @size="md" @variant="outline" @semantic="primary" @disabled={{@isProcessing}}>
                Dismiss
            </Primitive::Button>
            <Primitive::Button {{on "click" this.updatePaymentMethod}} @size="md" @variant="solid" @semantic="accent" @disabled={{this.paymentMethodFormIsInvalid}}>
                I approve this payment
            </Primitive::Button>
        </div>
        <p class="hn center mb-4">If you have any questions please contact us at <a href="mailto:hello@houseninja.co">hello@houseninja.co</a> or <a href="tel:888-326-4652">888-32-NINJA (64652)</a></p>            
    </div>    
</Primitive::Modal::Dialog>