<div class="hn hn-input-field {{if @warn 'warn' ''}}{{if @disabled 'disabled' ''}}">
    <div class="hn-input-container">
        {{#if @hideLabel}}
            {{!-- template-lint-disable require-input-label  --}}
            <select
              class="hn hn-select {{if @warn 'warn' ''}}"
              name={{@id}}
              id={{@id}}
              placeholder="Select"
              required={{@required}}
              disabled={{@disabled}}
              value={{@value}}
              {{on 'change' @onChange}}
            >
                {{#each @options as |o|}}
                    <option value={{o.value}} selected={{o.selected}}>{{o.label}}</option>
                {{/each}}
            </select>
        {{else}}
            <label class="hn-input-label" for={{@id}}>{{@label}}</label>
            <select
              class="hn hn-select {{if @warn 'warn' ''}}"
              name={{@id}}
              id={{@id}}
              placeholder="Select"
              required={{@required}}
              disabled={{@disabled}}
              value={{@value}}
              {{on 'change' @onChange}}
            >
                {{#each @options as |o|}}
                    <option value={{o.value}} selected={{o.selected}}>{{o.label}}</option>
                {{/each}}
            </select>
        {{/if}}
    </div>
    {{#if @description}}
        <span class="hn-input-description">{{@description}}</span>
    {{/if}}
</div>