<div class="home-content">
    <div class="greeting">
        <p class="salutation">{{this.salutation}}</p>
        <p class="prompt">{{this.prompt}}</p>
        {{#if this.streetAddress}}
            <p class="prompt">{{this.streetAddress}}?</p>
        {{/if}}
    </div>
    <hr class="hn line" />
    {{#if @shouldBookWalkthrough}}
        <div class="hn banner-message primary">
            <p class="hn strong center">Book Your First Walkthrough</p>
            <p>
                Before we can help you manage your home, we first need to get to know your property during an in-person walkthrough. Our experienced House Ninjas use a detailed 88-point checklist to evaluate your home and identify any issues you may want to fix or take care of preventatively. 
            </p>
            <br/>    
            <Primitive::Button @type="button" @size="md" @variant="solid" @semantic="accent" {{on "click" (fn this.selectRoute this.walkthroughBookingRoute)}}>
                Book It
            </Primitive::Button>
        </div>
    {{/if}}
    <Primitive::Section @label="Common Requests" @subLabel="Here’s What Your Neighbors Are Doing">
        <View::Home::CommonRequests @commonRequests={{@commonRequests}}/>
    </Primitive::Section>
    <Primitive::Section @label="Home Care Tip" @bodyClass='home-care-tip-section'>
        <View::Home::HomeCareTip @homeCareTip={{this.randomHomeCareTip}}/>
    </Primitive::Section>
    <Primitive::Button @type="button" @size="md" @variant="solid" @semantic="primary" class="mb-4" {{on "click" (fn this.selectRoute this.documentVaultRoute)}}>
        Document Vault
    </Primitive::Button>
</div>