<div class="hn document-vault">    
    {{#each @records as |record|}}
        <div class="filled">
            <ul class="record-list">
                <li>
                    <button type="button" class='record'>                    
                        <span class="icon">
                            <img src={{"/assets/icons/hamboyga.svg"}} alt={{record.type}}/>
                        </span>
                        <div class="details">
                            <p class="name">
                                {{record.name}}
                            </p>
                            <p class="description">
                                {{record.description}}
                            </p>
                        </div>
                    </button>
                </li>
            </ul>
        </div>     
    {{else}}
        <div class="empty">
            <p>{{@ifEmpty.message}}</p>    
            <Primitive::Button @type="button" @size="sm" @variant="outline" @semantic="primary">
                {{@ifEmpty.action}}
            </Primitive::Button>
        </div>
    {{/each}}
</div>