<div class='hn document-vault'>
  <Primitive::RecordList
    @showTimestamp={{false}}
    @showIcon={{true}}
    @records={{@records}}
    @onRecordClick={{@onRecordClick}}
    @ifEmpty={{@ifEmpty}}
  />
</div>