<div class="hn plan-options">
    <p class="primary">Select Your Plan</p>
    {{#each @plans as |plan index|}}
    <div class="option">
        <div class="column left">
            <span class="label">{{plan.name}}</span>
            <span class="billing">${{plan.price}} / {{plan.interval}}</span>
            <span class="perk">{{plan.perk}}</span>
        </div>
        <div class="column right">
            <Primitive::Button
                @size='md'
                @variant='{{if (eq index 0) 'solid' 'outline'}}'
                @semantic='primary'
                {{on 'click' (fn @selectPlan plan.id)}}
            >
                Choose <img src="/assets/icons/right-arrow.svg" alt="right" class="icon"/>
            </Primitive::Button>
        </div>
    </div>
    {{/each}}
</div>