<div class="settings-view dark">
    <h1 class="hn view-title">Edit Payment Information</h1>

    {{!-- {{#if @account.cardNumber}} --}}
    {{#if true}}
        <div class="mb-16">
            <p class="hn label">Current Payment Information</p>
            <p>Card ending in {{@account.cardNumber}}</p>
        </div>
    {{/if}}

    {{#each this.paymentFields as |field|}}
        <Primitive::Input @id={{field.id}} @required={{field.required}} @placeholder={{field.placeholder}} @value={{field.value}} @description={{field.description}} @label={{field.label}} @type={{field.type}} @warn={{false}} @disabled={{field.disabled}}/>
    {{/each}}
</div>