<div class="settings-view dark">
    <h1 class="hn view-title">Edit Payment Information</h1>

    {{#if (get @model 'number')}}    
        <div class="mb-16">
            <p class="hn label">Current Payment Information</p>
            <p>{{@model.obfuscated.brand}} ending in {{@model.obfuscated.lastFour}}</p>
        </div>
    {{/if}}

    {{#each this.paymentFields as |field|}}
        <Primitive::Input
          @id={{field.id}}
          @required={{field.required}}
          @placeholder={{field.placeholder}}
          @value={{mut (get @model.obfuscated field.value)}}
          @description={{field.description}}
          @label={{field.label}}
          @type={{field.type}}
          @disabled={{field.disabled}}
        />
    {{/each}}
</div>