<div class="settings-view dark">
    <h1 class="hn view-title">Change Payment Method</h1>

    {{#if (get @model 'cardNumber')}}
        <div class="mb-16">
            <p class="hn label">Current Payment Information</p>
            <p>{{if @model.brand @model.brand 'Card'}} ending in {{@model.lastFour}}</p>
        </div>
    {{/if}}

    {{#each @fields as |field|}}
        <Primitive::Input
          @id={{field.id}}
          @required={{field.required}}
          @placeholder={{field.placeholder}}
          @value={{field.value}}
          @description={{field.description}}
          @label={{field.label}}
          @type={{field.type}}
          @disabled={{field.disabled}}
          @onInput={{@validateForm}}
          @maxLength={{field.maxLength}}
        />
    {{/each}}
</div>