<div class="hn breadcrumbs">
    <ul class="hn trail">
        {{#each @breadcrumbs as |crumb index|}}            
            <View::SignUp::Breadcrumbs::Crumb 
                @label={{crumb}} 
                @position={{index}}
                @isLastOrOnly={{eq crumb @breadcrumbs.lastObject}}                                 
                @activeIndex={{@activeIndex}}
                @index={{index}}
            />            
        {{/each}}
    </ul>
</div> 