<Primitive::Modal::Dialog @toggleModal={{@toggleWebDialog}} @isVisible={{@isVisible}}>
    {{svg-jar "logo+black+teal.svg" alt="House Ninja" class="mb-8"}}
    <div>
        <p class="hn center strong mb-4">Do you decline this estimate?</p>
        <div class="actions ">
            <Primitive::Button {{on "click" @toggleDeclineWebDialog}} @class="mb-2" @size="md" @variant="outline" @semantic="primary" @disabled={{@isProcessing}}>
                Dismiss
            </Primitive::Button>
            <Primitive::Button {{on "click" @declineEstimate}} @size="md" @variant="solid" @semantic="primary">
                I decline this estimate
            </Primitive::Button>
        </div>
        <p class="hn center mb-4">If you have any questions please contact us at <a href="mailto:hello@houseninja.co">hello@houseninja.co</a> or <a href="tel:888-326-4652">888-32-NINJA (64652)</a></p>
    </div>
</Primitive::Modal::Dialog>