{{#if @estimateApproved}}    
    <div class="estimate-confirmation {{if @isProcessing 'show'}}">
        <p class="hn center strong">Thank you for approving the estimate.</p>
        <br/>
        {{#if @isNativePlatform}}
            <p class="hn center">We have notified the service provider.</p>
            <br/>
            <br/>
            <Primitive::Button @type="button" @size="md" @variant="solid" @semantic="accent" {{on "click" @selectRoute}}>
                Back to Home
            </Primitive::Button>
        {{else}}
            <p class="hn center">We have notified the service provider.</p>
            <br/>
            <p class="hn center">Please feel free to close this browser tab.</p>
        {{/if}}
    </div>
{{else if @isProcessing}}
    <div class="estimate-processing {{if @isProcessing 'show'}}">
        <Primitive::Loader::Logo @isDone={{@isDoneProcessing}}/>
        <p class="hn label strong">Processing</p>
    </div>
{{/if}}