{{#if this.isNativePlatform}}
    <div class="actions">
        <Primitive::Button @type="button" @size="md" @variant="outline" @semantic="primary" {{on "click" this.inquireAboutEstimate}}>
            I have a question
        </Primitive::Button>
    </div>
    <hr/>
{{/if}}
<Primitive::Section>
    <div class="hn banner-message">
        <p class="hn">
            You have a new estimate for approval. Please approve the estimate via the button below.<br/>
        </p>
    </div>
    <div class="work-order-details">
        <p class="hn field"><span class="hn label strong">Estimate: {{@model.estimate.amount}}</span></p>
        <p class="hn field"><span class="hn label">Description: </span>{{@model.description}}</p>
        {{!-- <p class="hn field"><span class="hn label">Status: </span>{{@model.statusLabel}}</p> --}}
        <p class="hn field"><span class="hn label">Vendor: </span>{{@model.vendor}}</p>
        {{!-- <p class="hn field"><span class="hn label">Scheduled Date: </span>{{if @model.scheduledDate @model.scheduledDate }}</p>
        <p class="hn field"><span class="hn label">Scheduled Time: </span>{{if @model.scheduledTime @model.scheduledTime }}</p> --}}
        <p class="hn field"><span class="hn label">Notes: <br/></span>{{if @model.estimate.description @model.estimate.formattedNotes}}</p>
    </div>
    <Primitive::Button @class="mb-2" @size="md" @variant="outline" @semantic="primary" @disabled={{this.isProcessing}} {{on "click" this.handleDecline}}>
        Decline Estimate
    </Primitive::Button>
    <Primitive::Button @size="md" @variant="solid" @semantic="accent" @disabled={{this.isProcessing}} {{on "click" this.confirm}}>
        Approve Estimate
    </Primitive::Button>
</Primitive::Section>
<View::WorkOrder::Content::ApproveEstimate::WebDialog
        @isVisible={{this.showWebDialog}}
        @toggleWebDialog={{this.toggleWebDialog}}
        @approveEstimate={{this.approveEstimate}}
        @amount={{@model.estimate.amount}}
    />
<View::WorkOrder::Content::ApproveEstimate::DeclineWebDialog
    @isVisible={{this.showWebDeclineDialog}}
    @toggleDeclineWebDialog={{this.toggleDeclineWebDialog}}
    @declineEstimate={{this.declineEstimate}}    
/>
<View::WorkOrder::Content::ApproveEstimate::Processing
    @isProcessing={{this.isProcessing}}
    @isDoneProcessing={{this.isDoneProcessing}}
    @estimateApproved={{this.estimateApproved}}
    @isNativePlatform={{this.isNativePlatform}}
    @selectRoute={{this.selectRoute}}
    @isDone={{@isDone}}
    @toggleIsProcessing={{this.toggleIsProcessing}}
/>