<Primitive::Modal::Dialog @toggleModal={{@toggleWebDialog}} @isVisible={{@isVisible}}>
    <img class="mb-8" src="/assets/images/logo+black+teal.svg" alt="House Ninja" />
    <div>        
        <p class="hn center strong mb-4">Do you approve the estimate of {{@formattedTotal}}?</p>
        <div class="actions ">
            <Primitive::Button {{on "click" @toggleWebDialog}} @class="mb-2" @size="md" @variant="outline" @semantic="primary" @disabled={{@isProcessing}}>
                Dismiss
            </Primitive::Button>
            <Primitive::Button {{on "click" @approveEstimate}} @size="md" @variant="solid" @semantic="accent">
                I approve this estimate
            </Primitive::Button>
        </div>
        <p class="hn center mb-4">If you have any questions please contact us at <a href="mailto:hello@houseninja.co">hello@houseninja.co</a> or <a href="tel:888-326-4652">888-32-NINJA (64652)</a></p>
    </div>    
</Primitive::Modal::Dialog>